<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Final_pa3</servlet-name>
		<servlet-class>com.ex.Final_pa3Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Final_pa3</servlet-name>
		<url-pattern>/final_pa3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>com.ex.upload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>find</servlet-name>
		<servlet-class>com.ex.find</servlet-class>
	    </servlet>
	    <servlet-mapping>
		<servlet-name>find</servlet-name>
		<url-pattern>/find</url-pattern>
	    </servlet-mapping>
	 <servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>com.ex.delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
    <servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>com.ex.download</servlet-class>
   	</servlet>
    <servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>   
	<servlet>
		<servlet-name>list</servlet-name>
		<servlet-class>com.ex.list</servlet-class>
   	</servlet>
    <servlet-mapping>
		<servlet-name>list</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>   
	<servlet>
		<servlet-name>checkcache</servlet-name>
		<servlet-class>com.ex.checkcache</servlet-class>
   	</servlet>
    <servlet-mapping>
		<servlet-name>checkcache</servlet-name>
		<url-pattern>/checkcache</url-pattern>
	</servlet-mapping>   
	
	<servlet>
		<servlet-name>removecache</servlet-name>
		<servlet-class>com.ex.removecache</servlet-class>
   	</servlet>
    <servlet-mapping>
		<servlet-name>removecache</servlet-name>
		<url-pattern>/removecache</url-pattern>
	</servlet-mapping> 
	<servlet>
		<servlet-name>removeall</servlet-name>
		<servlet-class>com.ex.removeall</servlet-class>
   	</servlet>
    <servlet-mapping>
		<servlet-name>removeall</servlet-name>
		<url-pattern>/removeall</url-pattern>
	</servlet-mapping>    
	<servlet>
		<servlet-name>cachesiz</servlet-name>
		<servlet-class>com.ex.cachesiz</servlet-class>
   	</servlet>
    <servlet-mapping>
		<servlet-name>cachesiz</servlet-name>
		<url-pattern>/cachesiz</url-pattern>
	</servlet-mapping>    
	<servlet>
		<servlet-name>stsize</servlet-name>
		<servlet-class>com.ex.stsize</servlet-class>
   	</servlet>
    <servlet-mapping>
		<servlet-name>stsize</servlet-name>
		<url-pattern>/stsize</url-pattern>
	</servlet-mapping>    
		    
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
